@page "/orderdetails"

@inject IProductCategoryService ProductCategoryService
@inject IProductService ProductService

<h2>OrderDatails</h2>
<p>@Message</p>

@if (Order != null && ProductCategories != null)
{
<EditForm Model="Order">

    <label>Categories</label>
    <InputSelect class="form-control col-sm-5"
                 Value="@Order.ProductCategoryId"
                 ValueChanged="@((int productCategoryId) => ProductCategoryChanged(productCategoryId))"
                 ValueExpression="@(() => Order.ProductCategoryId)">
        @foreach (var item in ProductCategories)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </InputSelect>

    <label>Producto</label>
    <InputSelect class="form-control col-sm-5" @bind-Value="@ProdutcId">
        @foreach (var item in Product)
            {
            <option value="@item.Id">@item.Name</option>
            }
    </InputSelect>

</EditForm>
}
else
{
    <p><em>Loading...</em></p>
}


@code {

    public Order Order;
    public IEnumerable<ProductCategory> ProductCategories;
    public IEnumerable<Product> Product;
    public string Message { get; set; }
    public int ProdutcId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Order = new Order() { ProductCategoryId = 1 };

            Console.WriteLine("INICIO - Cliente llamada Service" + Order);

            ProductCategories = await ProductCategoryService.GetAll();

            await LoadProducts(Order.ProductCategoryId);

            Console.WriteLine("FIN - Cliente categorias cargadas Service" + ProductCategories);

        }
        catch (Exception e)
        {
            Message = "Error..." + e.Message;
        }
    }

    protected async Task ProductCategoryChanged(int productCategoryId)
    {
        Order.ProductCategoryId = productCategoryId;

        if (Order.ProductCategoryId > 0)
        {
            await LoadProducts(Order.ProductCategoryId);
        }
    }

    private async Task LoadProducts(int productCategoryId)
    {
        Product = await ProductService.GetByCategory(productCategoryId);
    }

}
